  <div mat-dialog-title class="detalle">
    <div name="codigo" id="codigo">
      <h4 ><b>REGISTRO - BANCO1 </b></h4>
    </div>
    <div  align="end">
      <button class="btn-dialog-close" mat-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
    </div>
  </div>
  <hr>

<div mat-dialog-content>
    <form>  
        <div class="controles-container">
            <!-- ENTIDAD O BANCO-->
            <mat-form-field appearance="outline">
                <mat-label>Banco</mat-label> 
                <input 
                    matInput      
                    name="entidad" 
                    [(ngModel)]="banco.entidad">
            </mat-form-field>
            <!-- MONEDA-->
            <mat-form-field appearance="outline">
                <mat-label> Moneda</mat-label>
                <mat-select
                    name="moneda"
                    [(ngModel)]="banco.moneda">
                  <mat-option value="Pen">Pen</mat-option>
                  <mat-option value="Dolar">Dolar</mat-option>
                </mat-select>
            </mat-form-field>
            <!-- TIPO DE CUENTA -->
            <mat-form-field appearance="outline">
                <mat-label>Tipo de Cuenta</mat-label>
                <input 
                    matInput
                    name="tipoCuenta" 
                    [(ngModel)]="banco.tipoCuenta">
            </mat-form-field>
            <!-- FECHA DE APERTURA-->
            <mat-form-field appearance="outline">
                <mat-label>Fecha de Apertura</mat-label>
                <input 
                    matInput        
                    type="date"
                    name="fechaApertura" 
                    [(ngModel)]="banco.fechaApertura">
            </mat-form-field>
            <!-- N° CUENTA-->
            <mat-form-field appearance="outline">
                <mat-label>N° Cuenta</mat-label>
                <input 
                    matInput
                    name="numCuenta"
                    [(ngModel)]="banco.numCuenta">
            </mat-form-field>   
            <!-- CCI-->
            <mat-form-field appearance="outline">
                <mat-label>CCI</mat-label>
                <input 
                    matInput
                    name="cci" 
                    [(ngModel)]="banco.cci">
            </mat-form-field>     
            <!-- FUNCIONARIO -->
            <mat-form-field appearance="outline">
                <mat-label>Funcionario</mat-label>
                <input 
                    matInput
                    name="funcionario"
                    [(ngModel)]="banco.funcionario">
                </mat-form-field>
            <!-- AGENCIA DE APERTURA -->
            <mat-form-field appearance="outline">
                <mat-label>Agencia de Apertura</mat-label>
                <input  
                    matInput
                    name="agApertura" 
                    [(ngModel)]="banco.agApertura">
            </mat-form-field>
            <!-- ESTADO-->
            <mat-form-field appearance="outline">
                <mat-label> Estado</mat-label>
                <mat-select
                    name="estado"
                    [(ngModel)]="banco.estado">
                  <mat-option value="option">Activo</mat-option>
                  <mat-option value="option">De baja</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
</div>
    
<mat-dialog-actions class="acciones" align="end">
    <div class="comentario">
        <mat-form-field appearance="outline">
            <mat-label>Comentario<mat-icon>sentiment_very_satisfied</mat-icon>
            </mat-label>
            <textarea 
                matNativeControl
                name="comentarios"
                [(ngModel)]="banco.comentarios"></textarea>
        </mat-form-field>
    </div>
    <div>
        <button mat-button >Limpiar</button>
        <button mat-flat-button color="primary" [mat-dialog-close]="1" (click)="confirmAdd()">Guardar <mat-icon>save</mat-icon></button>
    </div>
</mat-dialog-actions>
      