<div mat-dialog-title class="detalle">
    <div>
    <h4><b>RUC/DNI 12345678901 </b></h4>
    </div>
    <div  align="end">
    <button class="btn-dialog-close" mat-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
    </div>
</div>
    <hr>
<div mat-dialog-content>
    <form>
        <mat-grid-list cols="1" rowHeight="310px" style="margin-bottom: 10px;">
            <mat-grid-tile>
                <div class="persona-container">
                    <!--NOMBRE -->
                    <mat-form-field appearance="outline"> 
                        <mat-label>Nombre</mat-label>
                        <input  matInput>
                    </mat-form-field>
                    <!--CARGO -->
                    <mat-form-field appearance="outline"> 
                        <mat-label>Cargo</mat-label>
                        <input  matInput>
                    </mat-form-field>
                    <!--TELEFONO -->
                    <mat-form-field appearance="outline"> 
                        <mat-label>Telefono</mat-label>
                        <input  matInput>
                    </mat-form-field>
                    <!--CORREO -->
                    <mat-form-field appearance="outline"> 
                        <mat-label>Correo</mat-label>
                        <input  matInput>
                    </mat-form-field>
                </div>
            </mat-grid-tile>  
        </mat-grid-list>
    </form>
</div>
<mat-dialog-actions class="acciones" align="end">
     <button mat-button color="primary" >Agregar</button>
</mat-dialog-actions>