<div mat-dialog-title class="detalle">
    <div>
    <h4><b>RUC/DNI 12345678901 </b></h4>
    </div>
    <div  align="end">
    <button class="btn-dialog-close" mat-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
    </div>
</div>
    <hr>
<div mat-dialog-content>
    <form>
        <mat-grid-list cols="2" rowHeight="120px" style="margin-bottom: 10px;">
            <mat-grid-tile>
            <div class="controles-container">
                <!--NOMBRE -->
                <mat-form-field> 
                    <input  matInput placeholder="Nombre">
                </mat-form-field>
                <!--CARGO -->
                <mat-form-field> 
                    <input  matInput placeholder="Cargo">
                </mat-form-field>
            </div>
            </mat-grid-tile>  
            <mat-grid-tile>
            <div class="controles-container">
                <!--NOMBRE -->
                <mat-form-field> 
                    <input  matInput placeholder="Telefono">
                </mat-form-field>
                <!--CORREO -->
                <mat-form-field> 
                    <input  matInput placeholder="Correo">
                </mat-form-field>
            </div>
            </mat-grid-tile>  
        </mat-grid-list>
    </form>
</div>
<mat-dialog-actions class="acciones" align="end">
    <div>
      <button mat-button >Cancelar</button>
      <button mat-flat-button color="primary" >Guardar</button>
    </div>
  </mat-dialog-actions>