<div mat-dialog-title class="detalle">
  <div>
    <h4><b>Registro: PR0001</b></h4>
  </div>
  <div  align="end">
    <button class="btn-dialog-close" mat-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
  </div>
</div>
<hr>
<div mat-dialog-content>
<form >
  <mat-grid-list cols="2" rowHeight="120px" style="margin-bottom: 10px;">
      <mat-grid-tile>
        <div class="controles-container">
           <!-- RUC-DNI-->
           <mat-form-field> 
            <input  matInput [(ngModel)]="proveedorNuevo.rucDni"       
                    name="rucDni"       placeholder="RUC/DNI">
          </mat-form-field>
           <!-- RAZON SOCIAL-->
           <mat-form-field>
            <input  matInput [(ngModel)]="proveedorNuevo.razonSocial"  
                    name="razonSocial"  placeholder="Razón Social">
          </mat-form-field>  
        </div>
      </mat-grid-tile>  
      <mat-grid-tile>
        <div class="controles-container">
          <!-- FECHA DE INICIO-->
          <mat-form-field>
            <mat-label>Fecha de inicio</mat-label>
            <input  matInput [(ngModel)]="proveedorNuevo.fechaIni" type="date"
                    name="fechaIni"     placeholder="Fecha de Inicio">
          </mat-form-field>
          <!-- RUBRO DE ACTIVIDAD -->
          <mat-form-field>
            <input  matInput [(ngModel)]="proveedorNuevo.rubroActividad"
                    name="rubroActividad" placeholder="Rubro / Actividad Económica">
          </mat-form-field>
        </div>
      </mat-grid-tile>  
  </mat-grid-list>

  <mat-accordion style="margin-bottom: 10px;">
    <mat-expansion-panel  (opened)="panelOpenState = true"
                          (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>Direcciones</mat-panel-title>
        <mat-panel-description>
          <mat-icon>map</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <!-- DIRECCION 1-->
      <mat-form-field style="text-align: center;width: 100%;">
        <mat-label>Direccion 1</mat-label>
        <input 
            matInput name="direccion"
            [(ngModel)]="direccion.direccion">
      </mat-form-field>
            <!-- PAIS-->
            <mat-form-field  class="contacto">
              <mat-label> Pais</mat-label>
              <mat-select>
                <mat-option value="option">Option</mat-option>
              </mat-select>
            </mat-form-field>
            <!-- DEPARTAMENTO-->
            <mat-form-field  class="contacto">
              <mat-label> Departamento</mat-label>
              <mat-select 
                  id="departamento" name="departamento"
                  (selectionChange)="onSelect($event.value)"
                  [(ngModel)]="direccion.departamento">
                <mat-option *ngFor="let reg of region" value={{reg.getCode()}}>
                  {{reg.getName()}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <!-- PROVINCIA-->
            <mat-form-field  class="contacto">
              <mat-label> Provincia</mat-label>
              <mat-select
                  id="provincia"  name="provincia"
                  (selectionChange)="filtroProvincia($event.value)"
                  [(ngModel)]="direccion.provincia"
                  [disabled]="provincias==null">
                <mat-option selected hidden value="">Selecciona una provincia</mat-option>
                <mat-option *ngFor="let provincia of provincias" value={{provincia.getCode()}}>
                  {{provincia.getName()}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <!-- DISTRITO-->
            <mat-form-field  class="contacto">
              <mat-label> Distrito</mat-label>
              <mat-select
                  id="distrito" name="distrito" 
                  (selectionChange)="obtenerUbigeo($event.value)"
                  [(ngModel)]="direccion.distrito"
                  [disabled]="distritos==null">
                <mat-option selected hidden value="">Selecciona un distrito</mat-option>
                <mat-option *ngFor="let distrito of distritos" value={{distrito.getCode()}}>
                  {{distrito.getName()}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <!-- UBIGEO-->
            <mat-form-field class="contacto">
              <mat-label>Ubigeo</mat-label>
              <input matInput name="ubigeo" 
                  [(ngModel)]="direccion.ubigeo" 
                  value="{{ubigeo}}" readonly>
            </mat-form-field>
            <br>
      <!-- DIRECCION 2-->   
      <mat-form-field style="text-align: center;width: 100%;">
        <mat-label>Direccion 2</mat-label>
        <input matInput>
      </mat-form-field>

            <mat-form-field  class="contacto">
              <mat-label> Departamento</mat-label>
              <mat-select>
                <mat-option value="option">Option</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field  class="contacto">
              <mat-label> Distrito</mat-label>
              <mat-select>
                <mat-option value="option">Option</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field  class="contacto">
              <mat-label> Provincia</mat-label>
              <mat-select>
                <mat-option value="option">Option</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="contacto">
              <mat-label>Ubigeo</mat-label>
              <input matInput>
            </mat-form-field>
    </mat-expansion-panel>

    <mat-expansion-panel  (opened)="panelOpenState = true"
                          (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>Contacto</mat-panel-title>
          <mat-panel-description>
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
    
            <mat-form-field class="contacto">
              <mat-label>Nombre</mat-label>
              <input matInput>
            </mat-form-field>
            <mat-form-field class="contacto">
              <mat-label>Cargo</mat-label>
              <input matInput>
            </mat-form-field>
            <mat-form-field  class="contacto">
              <mat-label>Telefono</mat-label>
              <!-- <example-tel-input formControlName="tel" required></example-tel-input>-->
              <input matInput>
              <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>
            <mat-form-field class="contacto">
              <mat-label>Correo </mat-label>
              <input matInput placeholder="pat@example.com" [formControl]="email" required>
              <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion> 
    <div class="grid-but">
      <div class="grid">
          <div class="add-bottom-padding" >
            <label id="example-radio-group-label">Impuestos Asociados</label>
            <mat-radio-group aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="impuestosAsociados">
                <mat-radio-button class="example-radio-button" *ngFor="let impuesto of impuestos" [value]="impuesto">
                  {{impuesto}}
                </mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="add-bottom-padding">
            <label id="example-radio-group-label">Tipo de Pago</label>
            <mat-radio-group aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            [(ngModel)]="impuestosAsociados">
              <mat-radio-button class="example-radio-button" *ngFor="let pago of pagos" [value]="pago">
                {{pago}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
      </div> 
        <div style="margin-top: 10px;" >
          <p>Cuentas Bancarias</p>
          <table class="table" id="tableId">
            <thead class="thread-light">
              <tr>
                <th>Entidad</th>
                <th>N° Cuenta</th>
                <th>CCI</th>
                <th>Tipo de Cuenta</th>
                <th>Moneda</th>
                <th></th>
              </tr>
              <!--<tr>
                <th><input type="text"    class="form-control" id="entidad"      [(ngModel)]="entidad"     name="entidad"     placeholder="Entidad"></th>
                <th><input type="number"  class="form-control" id="nro_cuenta"   [(ngModel)]="nro_cuenta"  name="nro_cuenta"  placeholder="N° Cuenta"></th>
                <th><input type="number"  class="form-control" id="CCI"          [(ngModel)]="CCI"         name="CCI"         placeholder="CCI"></th>
                <th><input type="text"    class="form-control" id="tipo_cuenta"  [(ngModel)]="tipo_cuenta" name="tipo_cuenta" placeholder="Tipo de Cuenta"></th>
                <th><input type="text"    class="form-control" id="moneda"       [(ngModel)]="moneda"      name="moneda"      placeholder="Moneda"></th>
                <th><button type="button" class="btn btn-primary" (click)="addCuenta(this)"> <mat-icon>add</mat-icon></button></th>
              </tr>-->
              <tr>
                <th><input type="text"    class="form-control" id="entidad"        name="entidad"     placeholder="Entidad"></th>
                <th><input type="number"  class="form-control" id="nro_cuenta"     name="nro_cuenta"  placeholder="N° Cuenta"></th>
                <th><input type="number"  class="form-control" id="CCI"            name="CCI"         placeholder="CCI"></th>
                <th><input type="text"    class="form-control" id="tipo_cuenta"    name="tipo_cuenta" placeholder="Tipo de Cuenta"></th>
                <th><input type="text"    class="form-control" id="moneda"         name="moneda"      placeholder="Moneda"></th>
                <th><button mat-button color="primary"  (click)="addCuenta(this)"> <mat-icon>add</mat-icon></button></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cuenta of (CUENTAS)" (click)="EditCuenta(cuenta,this)">
                <td>{{cuenta.entidad}}</td>
                <td>{{cuenta.nro_cuenta}}</td>
                <td>{{cuenta.CCI}}</td>
                <td>{{cuenta.tipo_cuenta}}</td>
                <td>{{cuenta.moneda}}</td>
                <td><button mat-button type="button" class="btn btn-secondary btn-sm" (click)="deleteCuenta(cuenta.id)"> <mat-icon>delete</mat-icon></button></td>
              </tr>
            </tbody>
          </table>
        </div>
     </div>
</form>
</div>
<mat-dialog-actions class="acciones" align="end">
  <div class="comentario">
    <mat-form-field appearance="outline">
        <mat-label>Comentario<mat-icon>sentiment_very_satisfied</mat-icon>
        </mat-label>
        <textarea matNativeControl></textarea>
    </mat-form-field>
  </div>
  <div>
    <button mat-button >Limpiar</button>
    <button mat-flat-button color="primary">Guardar <mat-icon>save</mat-icon></button>
  </div>
</mat-dialog-actions>
