/*oficial*/
.example-action-buttons {
    padding-bottom: 20px;
  }
  
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }

  .example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

/* Radio boton*/
  .example-radio-group {
    display: flex;
    flex-direction:column;
    margin: 15px 0;
    
  }
  .example-radio-button{
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .contacto{
    margin-left: 5px;
    width: 270px;
    padding: 5px;  
    /*width: 170px;*/
  }
  .ubicacion{
    margin-left: 5px;
    width: 18%;
    padding: 5px;  
    /*width: 170px;*/
  }
  .grid-but {
    display: grid;
    grid-template-columns:800px 400px;
  }
  .grid1 {
    display: grid;
    grid-template-columns:400px 400px;
  }
  .grid2 {
    display: grid;
    grid-template-columns:200px 200px;
  }
    @media only screen and (max-width:900px){
      .example-radio-group {
        display: flex;
        flex-direction:column;
        margin: 15px 0;
       
      }
      .grid-but {
        display: grid;
        grid-template: none;
      }
      .grid1 {
        display: grid;
        grid-template-columns:300px 300px;
      }
      .grid2 {
        display: grid;
        grid-template-columns:300px 300px;
        margin-left: 10px;
        align-content: center;
      }
      .ubicacion{
        margin-left: 5px;
        width: 16%;
        padding: 5px;  
        /*width: 170px;*/
      }
      .contacto{
        margin-left: 5px;
        width: 20%;
        padding: 5px;  
        /*width: 170px;*/
      }
    }
    
    .acciones {
      display: grid;
      grid-template-columns: 20% 80%;
      grid-template-rows: 80px 0px;
  
    }
    
    .textarea{
  
      max-width: 300px;
    }
  
    
    .add-bottom-padding{
      margin-right: 15px;
      margin-left: 15px;
    }
    
  /* TABLA BANCARIA*/
    table {
      width: 100%;
    }
    
    /* DETALLE*/
    .detalle {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 20px 0px;
      align-content: center;
    }
    
    .notificacion{
      background-color: blue;
    }
    
    .notif-sucess{
      color: #155724 !important;
      background-color: #d4edda !important;
      border-color: #c3e6cb !important;
     
  }
  
  .notif-sucess .mat-simple-snackbar-action{
      color: #155724;
  }