Registro | Consulta

<mat-card>
  

<form [formGroup]="service.form" class="normal-form">
  <mat-card-content>
        <mat-grid-list cols="2" rowHeight="300px"  >
          <mat-grid-tile style="padding: 10px; ">
            <div class="controles-container">
              <mat-form-field appearance="fill">
                <mat-label>RUC / DNI </mat-label>
                <input formControlName="ruc_dni" matInput >
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Nombre / Razón Social</mat-label>
                <input formControlName="raz_social" matInput>
                <mat-error>This field is mandatory.</mat-error>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile style="padding: 10px; ">
            <div class="controles-container">
              <mat-form-field appearance="fill">
                <mat-label>Fecha de Inicio</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Rubro /  Actividad Economica</mat-label>
                <input formControlName="raz_social" matInput>
                <mat-error>This field is mandatory.</mat-error>
              </mat-form-field>
            </div>
          </mat-grid-tile>
        </mat-grid-list >
  
        <div>
          <mat-accordion class="example-headers-align" multi >
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Direcciones
                </mat-panel-title>
                <mat-icon>location_on</mat-icon> 
              </mat-expansion-panel-header>
  
              <div>
                <mat-form-field appearance="fill" style="width:100%;">
                  <mat-label>Dirección 1</mat-label>
                  <input formControlName="ruc_dni" matInput >
                </mat-form-field>
              </div>
              
              <div>
                    <mat-form-field appearance="fill" style="width:45%;">
                      <mat-label>Distrito</mat-label>
                      <mat-select>
                        <mat-option>
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
  
                    <mat-form-field appearance="fill" style="width:45%;">
                      <mat-label>Provincia</mat-label>
                      <mat-select>
                        <mat-option>
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
              </div>
  
              <div>
                <mat-form-field appearance="fill" style="width:45%;">
                  <mat-label>Departamento</mat-label>
                  <mat-select>
                    <mat-option>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
    
                <mat-form-field appearance="fill" style="width:45%;">
                  <mat-label>Pais</mat-label>
                  <mat-select>
                    <mat-option>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
  
              <div>
                <mat-form-field appearance="fill" style="width:100%;">
                  <mat-label>Dirección 2</mat-label>
                  <input formControlName="ruc_dni" matInput >
                </mat-form-field>
              </div>
              
              <div>
                <mat-form-field appearance="fill">
                  <mat-label>Distrito</mat-label>
                  <mat-select>
                    <mat-option>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
  
                <mat-form-field appearance="fill">
                  <mat-label>Provincia</mat-label>
                  <mat-select>
                    <mat-option>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
  
              <div>
                <mat-form-field appearance="fill">
                  <mat-label>Departamento</mat-label>
                  <mat-select>
                    <mat-option>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
    
                <mat-form-field appearance="fill">
                  <mat-label>Pais</mat-label>
                  <mat-select>
                    <mat-option>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
  <br>
        <div>
          <mat-accordion class="example-headers-align" multi >
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Persona de Contacto
                </mat-panel-title>
                <mat-icon>account_circle</mat-icon> 
              </mat-expansion-panel-header>
              
              <div>
                  <mat-form-field appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input formControlName="ruc_dni" matInput >
                  </mat-form-field>
  
                  <mat-form-field appearance="fill">
                    <mat-label>Cargo</mat-label>
                    <input formControlName="ruc_dni" matInput >
                  </mat-form-field>
              </div>
  
              <div>
                  <mat-form-field appearance="fill">
                    <mat-label>Telefono</mat-label>
                    <input formControlName="ruc_dni" matInput >
                  </mat-form-field>
            
                  <mat-form-field appearance="fill">
                    <mat-label>Correo</mat-label>
                    <input formControlName="ruc_dni" matInput >
                  </mat-form-field>
              </div>
  
              
  
             
          
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </mat-card-content>
      
    
  
    <button mat-raised-button > Add column </button>
  </form>
</mat-card>