.normal-form{
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 60px 0px;
}

.addprov{
  width: 150px;
  height: 40px;
  font-size: 16px;
}

/* Busqueda - Tabla*/
table  {
  width: 80%;
}

.mat-paginator{
  width: 80%;
}

.mat-form-field {
  font-size: 14px;
  width: 400px;
}

/* Excel*/
.excel {
  color: green;
}

td, th {
  width: 25%;
}


