.example-h2 {
    margin: 10px;
}
  
.example-section {
display: flex;
align-content: center;
align-items: center;
height: 60px;
}

.controles-container{
    width: 100%;
    padding: 5%;
}

.controles-container > *{
    width: 100%;
}

.example-action-buttons {
    padding-bottom: 20px;
  }
  
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align  .mat-form-field  {
    margin-left: 5px;
    width: 45%;
    
  }
  