.normal-form{
  margin: 20px;
}

/* Busqueda - Tabla*/
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 300px;
  margin-left: 10%;
}

/* Excel*/
.excel {
  color: green;
}

td, th {
  width: 25%;
}

