<div style="margin-top: 5px; margin-left: 15px; margin-right: 15px;" >
    <p><b>Detalle Producto</b></p>
    <table class="table" id="tableId">
      <thead class="thread-light">
        <tr>
          <th>ID</th>
          <th>Guia de Remision</th>
          <th>Familia</th>
          <th>Subfamilia </th>
          <th>Tipo</th>
          <th>Marca</th>
          <th>Modelo</th>
          <th>Serie</th>
          <th>Cantidad Ingresada</th>
          <th>Codigo Interno</th>
          <th>Saldo</th>
          <th></th>
        </tr>
        
        <tr>
          <th><input type="number"    class="form-control" id="id"           ></th>
          <th><input type="text"      class="form-control" id="guia"     ></th>
          <th><input type="text"      class="form-control" id="familia"  ></th>
          <th><input type="text"      class="form-control" id="sub_familia" ></th>
          <th><input type="text"      class="form-control" id="tipo"  ></th>
          <th><input type="text"      class="form-control" id="marca"  ></th>
          <th><input type="text"      class="form-control" id="modelo"  ></th>
          <th><input type="text"      class="form-control" id="serie"  ></th>
          <th><input type="text"      class="form-control" id="stock"  ></th>
          <th><input type="text"      class="form-control" id="codigo_int"  ></th>
          <th><input type="number"    class="form-control" id="saldo"  ></th>
          <th><button mat-button color="primary"  (click)="addDetalleProd(this)"> <mat-icon>add</mat-icon></button></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detalle_prod of (DETALLE_PROD)" (click)="EditDetalleProd(detalle_prod,this)">
          <td>{{detalle_prod.id}}</td>
          <td>{{detalle_prod.guia}}</td>
          <td>{{detalle_prod.familia}}</td>
          <td>{{detalle_prod.sub_familia}}</td>
          <td>{{detalle_prod.tipo}}</td>
          <td>{{detalle_prod.marca}}</td>
          <td>{{detalle_prod.modelo}}</td>
          <td>{{detalle_prod.serie}}</td>
          <td>{{detalle_prod.stock}}</td>
          <td>{{detalle_prod.codigo_int}}</td>
          <td>{{detalle_prod.saldo}}</td>
          <td><button mat-button type="button" class="btn btn-secondary btn-sm" (click)="deleteDetalleProd(detalle_prod.id)"> <mat-icon>delete</mat-icon></button></td>
        </tr>
      </tbody>
    </table>
</div>  