<div class="card mb-4 shadow-sm">
    <img class="bd-placeholder-img card-img-top p-2" width="100%"  />
  
    <div class="card-body">
      <p class="card-text">
        <strong>Nombre del Producto</strong>
        <i  class="fas fa-heart float-right" ></i>
        <i  class="far fa-heart float-right" ></i>
      </p>
      <p class="card-text">------------
        
        descripcion-------------</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button mat-flat-button color="accent" class="btn-carrito" >Add to Cart</button>
          <a mat-stroked-button class="btn-detalle btn-outline-secondary"  [routerLink]="['/producto-detalle']">View Details</a>
        </div>
      </div>
    </div>
  </div>