.card-view{
  
  background-color: white;
}

.grid-all{
height: 100%;
}

.grid-opcion {
    display: grid;
    grid-template-columns: 200px 80%;
  }
  
  .grid-linea {
    display: grid;
    grid-template-columns: 90% 10%;
  }
  
  .option{
  margin-top:  3%;
  margin-left: 3%;
  margin-right:3%;
  }
  .linea{
  background-color: #70758369;
  height: 230px;
  
  }

  mat-grid-tile {
    background: lightblue;
  }