<div class="d-flex">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
        <li ngbNavItem="bienes" >
            <a  ngbNavLink routerLink="/maestro/catalogos/bienes">BIENES</a>
            <ng-template ngbNavContent >
                <app-bienes></app-bienes> 
            </ng-template>
        </li>
        <li ngbNavItem="servicios">
            <a ngbNavLink routerLink="/maestro/catalogos/servicios">SERVICIOS</a>
            <ng-template ngbNavContent>
                <app-servicios></app-servicios>
            </ng-template>
        </li>
        
    </ul>
    
    <div [ngbNavOutlet]="nav" class="ml-4"></div>
</div>

