<div class="card filters">

    <div class="card-header">
      <strong>
        Buscador 
        <mat-icon>search</mat-icon> 
      </strong>
    </div>

    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="from">Cod. de Barra</label>
          <input type="text" id="from" class="form-control">
        </div>

        <div class="form-group">
          <label for="to">Familia</label>
          <input type="text" id="to" class="form-control">
        </div>

        <div class="form-group">
          <label for="to">Marca</label>
          <input type="text" id="to" class="form-control">
        </div>

        <button class="btn btn-primary btn-block btn-sm">Filtrar</button>
      </form>
    </div>  
</div>

<div align="center">
    <button mat-raised-button class="excel"><mat-icon> cloud_download</mat-icon> Reporte General</button>
</div>   