<div mat-dialog-content>
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Información de Gasto</ng-template>
            <app-gasto></app-gasto>
        </form>
    </mat-step>
    <mat-step>
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Pago</ng-template>
            
            <mat-grid-list cols="2" rowHeight="120px" style="margin-bottom: 10px;">
                <mat-grid-tile>
                    <div class="controles-container">
                        <!-- ESTADO DE FACTURA-->
                        <mat-form-field appearance="outline">
                            <mat-label> Estado de la Factura</mat-label>
                            <mat-select>
                                <mat-option value="1">Pendiente</mat-option>
                                <mat-option value="2">Pagado Parcialmente</mat-option>
                                <mat-option value="3">Pagado</mat-option>
                                <mat-option value="4">Pagado con TC</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="controles-container">
                        <!-- TOTAL DE COMPROBANTE-->
                        <mat-form-field appearance="outline"> 
                            <mat-label>Total de Comprobante</mat-label>
                            <input matInput >
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list cols="2" rowHeight="120px" style="margin-bottom: 10px;">
                <mat-grid-tile>
                    <div class="controles-container">
                        <!-- TITULAR DE TC-->
                        <mat-form-field appearance="outline"> 
                            <mat-label>Titular de la TC</mat-label>
                            <input matInput >
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="controles-container">
                        <!-- ESTADO DE LA DEVOLUCION-->
                        <mat-form-field appearance="outline">
                            <mat-label> Estado de la Devolución</mat-label>
                            <mat-select>
                                <mat-option value="1">Devolucion</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list cols="3" rowHeight="500px" style="margin-bottom: 10px;">
                <mat-grid-tile>
                    <div class="controles-container">
                        <!-- TIPO DE CAMBIO-->
                        <mat-form-field > 
                            <mat-label>Tipo de Cambio</mat-label>
                            <input matInput >
                        </mat-form-field>

                        <!-- TIPO DE PAGO-->
                        <mat-form-field >
                            <mat-label>Tipo de Pago</mat-label>
                            <mat-select>
                                <mat-option value="1">Cheque</mat-option>
                                <mat-option value="2">Efectivo</mat-option>
                                <mat-option value="3">Transferencia</mat-option>
                                <mat-option value="4">Tarjeta de Crédito</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <!-- BANCO-->
                        <mat-form-field >
                            <mat-label>Banco</mat-label>
                            <mat-select>
                                <mat-option value="1">Option</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="controles-container">
                        <!-- MONEDA DE PAGO-->
                        <mat-form-field >
                            <mat-label>Moneda de Pago</mat-label>
                            <mat-select>
                                <mat-option value="1">Pen</mat-option>
                                <mat-option value="2">Dolar</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <!-- MONTO PAGADO-->
                        <mat-form-field > 
                            <mat-label>Monto Pagado</mat-label>
                            <input matInput >
                        </mat-form-field>

                        <!-- MONTO PAGADO-->
                        <mat-form-field > 
                            <mat-label>N° Operación</mat-label>
                            <input matInput type="number">
                        </mat-form-field>
                        
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="controles-container">
                         <!-- FECHA DE PAGO-->
                        <mat-form-field >
                            <mat-label>Fecha de Pago</mat-label>
                            <input matInput type="date" >
                        </mat-form-field>
                         
                        <mat-form-field >
                            <mat-label>Comentario</mat-label>
                            <textarea matInput></textarea>
                          </mat-form-field>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
           
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
        </form>
    </mat-step>
    </mat-horizontal-stepper>
</div>

  