<div class="card mt-3" align="center">
    <div class="card-body">
      <h5 class="text-center">
        Lista de Bienes
      </h5>
      
      <table class="table table-sm table-hover">
        <tbody>
          <tr >
            <td>familia 1</td>
            <td>subfamilia 1</td>
            <td>
              <button mat-icon-button style="color: green;">
                <mat-icon>edit</mat-icon>
              </button>
                 
              <button mat-icon-button color="warn">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      
    </div>
  </div>