<div>
  <div align="center" style="margin-top: 20px;"><hr><h4><b> REGISTRO - RC0001 </b></h4><hr></div>
</div>

<mat-card>
  <form>
    <div class="grid-ventas">
      <div class="campo-container">
        <!--Orden de Compra -->
        <mat-form-field appearance="outline">
          <mat-label>Orden de Compra</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="campo-container">
        <!--Fecha de Orden -->
        <mat-form-field  appearance="outline" >
          <mat-label>Fecha de Orden</mat-label>
          <input formControlName="hireDate" matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="campo-container">
        <!--Cotizacion -->
        <mat-form-field appearance="outline">
          <mat-label>Cotizacion</mat-label>
          <input matInput placeholder="Cotización">
        </mat-form-field>
      </div>
      <div class="campo-container">
        <!--Subir Archivo -->
        <input class="form-control form-control-lg" id="formFileLg" type="file">
           
      </div>
    </div>

    <!-- -----------------------BUSCAR RUC-DNI------------------- -->
    <div class="grid-linea">
      <div>
        <hr class="linea1"  width="1px" noshade="noshade">
      </div>
      <div class="icon">
        <mat-icon>saved_search</mat-icon> 
      </div>
      <div>
        <hr class="linea2"  width="1px" noshade="noshade">
      </div>
    </div>

    <div class="form-group" align="center">
      <div class="input-group" style="width: 50%;">
        <!--RUC/DNI -->
        <input 
          class="form-control"
          name="price"
          placeholder="RUC/DNI">

        <!--Bucador de RUC/DNI-->
        <div class="input-group-prepend">
          <button class="input-group-text">
            <mat-icon>person_search</mat-icon>Buscar 
          </button> 
        </div>
      </div>
    </div>

    <div class="grid-buscar">
      <div class="campo-container"> 
        <!--NOMBRE/RAZON SOCIAL -->
        <mat-form-field appearance="outline" >
          <mat-label> Nombre/Razon Social</mat-label>
          <input matInput
          style="text-align: center;">
        </mat-form-field>
      </div>
      <div class="campo-container">
        <!-- DIRECCION-->
        <mat-form-field appearance="outline">
          <mat-label> Dirección</mat-label>
          <input style="text-align: center;"
              matInput >
        </mat-form-field>
      </div>
    </div>
    
    <mat-grid-list cols="5" rowHeight="80px">
      <mat-grid-tile>
        <div class="campo-container">
          <!-- PAIS-->   
          <mat-form-field  appearance="outline">
            <mat-label> Pais</mat-label>
            <input type="text"
              matInput
              [formControl]="myControl"
              [matAutocomplete]="auto">
              <mat-autocomplete  #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
          </mat-form-field> 
        </div>
      </mat-grid-tile>   

      <mat-grid-tile>
        <div class="campo-container">
          <!-- DEPARTAMENTO-->
          <mat-form-field appearance="outline">
            <mat-label> Departamento</mat-label>
            <mat-select >
                <mat-option required value="1">Option</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile>         
    
      <mat-grid-tile>
        <div class="campo-container">
          <!-- PROVINCIA-->
          <mat-form-field appearance="outline">
            <mat-label> Provincia</mat-label>
            <mat-select >
                <mat-option required value="1">Option</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div class="campo-container">
          <!-- DISTRITO-->
          <mat-form-field appearance="outline">
            <mat-label> Distrito</mat-label>
            <mat-select >
                <mat-option required value="1">Option</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      
      <mat-grid-tile>
        <div class="campo-container">
          <!-- UBIGEO-->
          <mat-form-field appearance="outline">
            <mat-label>Ubigeo</mat-label>
            <input 
                matInput  readonly>
          </mat-form-field>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <div class="campo-container">
      <!-- PERSONA-->
      <mat-form-field  appearance="outline">
        <mat-label> Persona</mat-label>
        <mat-select>
          <mat-option value="option">Option</mat-option>
          <mat-option value="nuevo_contacto" (click)="openDialog()">Agregar nuevo contacto</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-grid-list cols="4" rowHeight="80px">
      <mat-grid-tile>
        <div class="campo-container">
          <!-- NOMBRE -->  
          <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div class="campo-container">
          <!-- CARGO --> 
          <mat-form-field appearance="outline">
            <mat-label>Cargo</mat-label>
            <input matInput>
          </mat-form-field>
        </div> 
      </mat-grid-tile>

      <mat-grid-tile>
        <div class="campo-container">
          <!-- TELEFONO --> 
          <mat-form-field appearance="outline">
            <mat-label>Telefono</mat-label>
            <input matInput>
            <mat-icon matSuffix>phone</mat-icon>
          </mat-form-field>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div class="campo-container">
          <!-- TELEFONO --> 
          <mat-form-field appearance="outline">
            <mat-label>Correo </mat-label>
            <input matInput placeholder="pat@example.com" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  <!-- FIN BUSCAR RUC-DNI -->

  <!-- ----------------------- VENTA-PRODUCTO------------------- -->
  <div class="grid-linea">
    <div>
      <hr class="linea1"  width="1px" noshade="noshade">
    </div>
    <div class="icon">
      <mat-icon>assignment_turned_in</mat-icon> 
    </div>
    <div>
      <hr class="linea2"  width="1px" noshade="noshade">
    </div>
  </div>

  <mat-grid-list cols="3" rowHeight="80px" style="margin-bottom: 10px;">
    <mat-grid-tile>
      <div class="controles-container">
        <!-- TIPO DE COMPRA -->
        <mat-form-field appearance="outline">
          <mat-label>Tipo de Compra</mat-label>
          <mat-select>
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-grid-tile>  
    <mat-grid-tile>
      <div class="controles-container">
        <mat-form-field appearance="outline">
          <!-- FEC DE VENCIMIENTO -->
          <mat-label>Fecha de Vencimiento</mat-label>
          <input formControlName="hireDate" matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </mat-grid-tile> 
    <mat-grid-tile>
      <div class="controles-container">
        <mat-form-field appearance="outline"> 
          <!-- MONEDA -->
          <mat-label>Moneda</mat-label>
          <mat-select>
            <mat-option value="option">Soles</mat-option>
            <mat-option value="option">Dolares Americanos</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-grid-tile> 
 </mat-grid-list>

 <div class="card">
  <div class="card-body">
    <div class="card-title">Detalle  Producto </div>
    <div class="form-group" align="center">
      <div class="input-group" style="width: 50%;">
        <!--PRODUCTO-->
        <input 
          class="form-control"
          name="price"
          placeholder="Codigo de Barra">

        <!--Bucador de RUC/DNI-->
        <div class="input-group-prepend">
          <button class="input-group-text">
            <mat-icon><span class="material-icons">
              production_quantity_limits
              </span></mat-icon> 
          </button> 
        </div>
      </div>
    </div>

    <mat-grid-list cols="3" rowHeight="80px" style="margin-bottom: 10px;">
      <mat-grid-tile>
        <div class="controles-container">
          <!-- Nombre -->
          Nombre: <input class="form-control" type="text">
        </div>
      </mat-grid-tile>  
      <mat-grid-tile>
        <div class="controles-container">
         <!-- Stock -->
         Stock: <input class="form-control" type="text">
        </div>
      </mat-grid-tile> 
      <mat-grid-tile>
        <div class="controles-container">
          <!-- Costo -->
          Costo: <input class="form-control" type="text">
        </div>
      </mat-grid-tile> 
   </mat-grid-list>
   <hr>
   <mat-grid-list cols="3" rowHeight="80px" style="margin-bottom: 10px;">
    <mat-grid-tile>
      <div class="controles-container">
        <!-- Cantidad -->
        Cantidad: <input class="form-control" type="text">
      </div>
    </mat-grid-tile>  
    <mat-grid-tile>
      <div class="controles-container">
       <!-- Total -->
       Total: <input class="form-control" type="text">
      </div>
    </mat-grid-tile> 
    <mat-grid-tile>
      <div class="controles-container">
       <button mat-icon-button style="color: blue;" (click)="addProducto(this)">
          <mat-icon>add</mat-icon>
        </button>
           
        <button mat-icon-button color="warn">
          <mat-icon>clear</mat-icon>
        </button>

        <button mat-icon-button style="color: green;">
          <mat-icon>summarize</mat-icon>
        </button>
        
      </div>
    </mat-grid-tile> 
 </mat-grid-list>


    <div style="margin-top: 5px; margin-left: 15px; margin-right: 15px;" >
      
      <table class="table" id="tableId" >
        <thead class="thread-light">
          <tr>
            <th>ID</th>
            <th>Codigo de Barra</th>
            <th>Producto</th>
            <th>Descripcion</th>
            <th>Cantidad </th>
            <th>Precio</th>
            <th>Total</th>
          </tr>
          
          <tr>
            <th><input type="number"    class="form-control" id="id"           ></th>
            <th><input type="number"    class="form-control" id="codigo"           ></th>
            <th><input type="text"      class="form-control" id="producto"     ></th>
            <th><input type="text"      class="form-control" id="descripcion"  ></th>
            <th><input type="number"    class="form-control" id="cantidad"     ></th>
            <th><input type="number"    class="form-control" id="precio"    ></th>
            <th><input type="number"    class="form-control" id="total"    ></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of (PRODUCTOS)" (click)="EditProducto(producto,this)">
            <td>{{producto.id}}</td>
            <td>{{producto.producto}}</td>
            <td>{{producto.descripcion}}</td>
            <td>{{producto.cantidad}}</td>
            <td>{{producto.val_venta}}</td>
          </tr>
        </tbody>
      </table>
      
      <mat-grid-list cols="3" rowHeight="80px" style="margin-bottom: 10px;">
        <mat-grid-tile>
          <div class="controles-container">
            <!-- Nombre -->
            <span>SUB TOTAL:</span> 
            <input class="form-control" type="text">
          </div>
        </mat-grid-tile>  
        <mat-grid-tile>
          <div class="controles-container">
           <!-- IGV -->
           IGV: <input class="form-control" type="text">
          </div>
        </mat-grid-tile> 
        <mat-grid-tile>
          <div class="controles-container">
            <!-- Costo -->
            TOTAL DE COMPROBANTE: <input class="form-control" type="text">
          </div>
        </mat-grid-tile> 
     </mat-grid-list>
         
  </div> 

  </div>

 </div>
          
  </form>
  <br>
  <div class="acciones">
    <div class="comentario" >
      <!--COMENTARIO-->
      <mat-form-field appearance="outline">
          <mat-label>Comentario   <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-label>
          <textarea matNativeControl  name="comentarios"></textarea>
        </mat-form-field>
    </div>
    <div>
      <button mat-button >Cancelar</button>
      <button mat-flat-button color="primary" >Guardar</button>
    </div>
  </div>
</mat-card>
  