<div class="normal-form">
    <div>
      <button mat-flat-button (click)="openDialog()" color="primary" class="addcli">
        <mat-icon>add</mat-icon>Cliente
      </button> 
    </div>
    <div align="end">
      <mat-form-field>
        <input matInput #filter >
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
  
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>get_app</mat-icon>
          <span>Exportar a Excel</span>
        </button>
      </mat-menu>
    </div>
  </div> 
  
  <div  align="center">
    <table mat-table [dataSource]="clienteDataSource" matSort>
      ng update @angular/cli @angular/core
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>
     
      <!-- ID Column -->
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
        <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
      </ng-container>
    
      <!-- RUC/DNI Column -->
      <ng-container matColumnDef="rucDni">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> RUC - DNI </th>
        <td mat-cell *matCellDef="let element"> {{element.rucDni}} </td>
      </ng-container>
    
      <!-- Razon Social Column -->
      <ng-container matColumnDef="razonSocial">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Razón Social - Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.razonSocial}} </td>
      </ng-container>
  
      <!-- Edit-Delete Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element; let i=index;">
          <div class="grid-action">
            <div>
              <button mat-icon-button class="color-edit" (click)="startEdit(element.id)">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
            <div>
              <button mat-icon-button color="warn" (click)="deleteItem(i, element.id, element.codigo, element.rucDni, element.razonSocial)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="selection.toggle(row)">
      </tr>
    <!--
      <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="6">
          Loading data...
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="noData">
        <mat-footer-cell *matFooterCellDef colspan="6">
          No data.
        </mat-footer-cell>
      </ng-container>
    
      
     
      <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
      <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
    
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
  
    -->
     
    </table>
    
    <mat-paginator  #paginator
                    [length]="clienteDataSource.filteredData.length"
                    [pageIndex]="0"
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
  </div>