.grid-opcion {
    display: grid;
    grid-template-columns: 200px 80%;
  }

  .grid-linea {
    display: grid;
    grid-template-columns: 90% 10%;
  }
  
.option{
  margin-top:  5%;
  margin-left: 5%;
  margin-right:5%;
}
.linea{
  background-color: #70758369;
  height: 200px;
  
}