<mat-list class="detalle">
    <div mat-subheader>
        <span class="material-icons">
            category
            </span>
        <b class="header"> DETALLE DEL PRODUCTO </b>
    </div>
    <mat-divider></mat-divider>
    <div class="op">
        <ul>
            <li>Codigo interno</li>
            <li>Familia</li>
            <li>Subfamilia</li>
            <li>Tipo</li>
            <li>Marca</li>
            <li>Modelo</li>
            <li>Serie</li>
            <li>stock</li>
            <li>costo unitario</li>
            <li>cantidad a vender </li>
            <li>valor de venta unitario</li>
        </ul>
    </div>
      
</mat-list>
