<div>
  <div align="center" style="margin-top: 20px;"><hr><h4><b> REGISTRO - VT0001 </b></h4><hr></div>
</div>

<mat-card >
  <form>
    <div class="grid-ventas">
      <div class="campo-container">
        <!--Tipo de Venta -->
        <mat-form-field appearance="outline">
          <mat-label> Tipo de Venta</mat-label>
          <mat-select>
            <mat-option value="1">Bienes</mat-option>
            <mat-option value="2">Servicios</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="campo-container">
        <!--Tipo de Comprobante -->
        <mat-form-field appearance="outline">
          <mat-label> Tipo de Comprobante</mat-label>
          <mat-select>
            <mat-option value="1">Factura</mat-option>
            <mat-option value="2">Boleta</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="campo-container">
        <!--Cotizacion -->
        <mat-form-field appearance="outline">
          <input matInput placeholder="Cotización">
        </mat-form-field>
      </div>
      <div class="campo-container">
        <!--Subir Archivo -->
        <input class="archivo" type="file"  >    
      </div>
    </div>

    <!-- -----------------------BUSCAR RUC-DNI------------------- -->
      <div class="grid-linea">
        <div>
          <hr class="linea1"  width="1px" noshade="noshade">
        </div>
        <div class="icon">
          <mat-icon>saved_search</mat-icon> 
        </div>
        <div>
          <hr class="linea2"  width="1px" noshade="noshade">
        </div>
      </div>

      <div class="form-group" align="center">
        <div class="input-group" style="width: 50%;">
          <!--RUC/DNI -->
          <input 
            class="form-control"
            name="price"
            placeholder="RUC/DNI">

          <!--Bucador de RUC/DNI-->
          <div class="input-group-prepend">
            <button class="input-group-text">
              <mat-icon>person_search</mat-icon>Buscar 
            </button> 
          </div>
        </div>
      </div>

      <div class="grid-buscar">
        <div class="campo-container"> 
          <!--NOMBRE/RAZON SOCIAL -->
          <mat-form-field appearance="outline" >
            <mat-label> Nombre/Razon Social</mat-label>
            <input matInput
            style="text-align: center;">
          </mat-form-field>
        </div>
        <div class="campo-container">
          <!-- DIRECCION-->
          <mat-form-field appearance="outline">
            <mat-label> Dirección</mat-label>
            <input style="text-align: center;"
                matInput >
          </mat-form-field>
        </div>
      </div>
      
      <mat-grid-list cols="5" rowHeight="80px">
        <mat-grid-tile>
          <div class="campo-container">
            <!-- PAIS-->   
            <mat-form-field  appearance="outline">
              <mat-label> Pais</mat-label>
              <input type="text"
                matInput
                [formControl]="myControl"
                [matAutocomplete]="auto">
                <mat-autocomplete  #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
            </mat-form-field> 
          </div>
        </mat-grid-tile>   

        <mat-grid-tile>
          <div class="campo-container">
            <!-- DEPARTAMENTO-->
            <mat-form-field appearance="outline">
              <mat-label> Departamento</mat-label>
              <mat-select >
                  <mat-option required value="1">Option</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-grid-tile>         
      
        <mat-grid-tile>
          <div class="campo-container">
            <!-- PROVINCIA-->
            <mat-form-field appearance="outline">
              <mat-label> Provincia</mat-label>
              <mat-select >
                  <mat-option required value="1">Option</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="campo-container">
            <!-- DISTRITO-->
            <mat-form-field appearance="outline">
              <mat-label> Distrito</mat-label>
              <mat-select >
                  <mat-option required value="1">Option</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-grid-tile>
        
        <mat-grid-tile>
          <div class="campo-container">
            <!-- UBIGEO-->
            <mat-form-field appearance="outline">
              <mat-label>Ubigeo</mat-label>
              <input 
                  matInput  readonly>
            </mat-form-field>
          </div>
        </mat-grid-tile>
      </mat-grid-list>

      <div class="campo-container">
        <!-- PERSONA-->
        <mat-form-field  appearance="outline">
          <mat-label> Persona</mat-label>
          <mat-select>
            <mat-option value="option">Option</mat-option>
            <mat-option value="nuevo_contacto" (click)="openDialog()">Agregar nuevo contacto</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-grid-list cols="4" rowHeight="80px">
        <mat-grid-tile>
          <div class="campo-container">
            <!-- NOMBRE -->  
            <mat-form-field appearance="outline">
              <mat-label>Nombre</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="campo-container">
            <!-- CARGO --> 
            <mat-form-field appearance="outline">
              <mat-label>Cargo</mat-label>
              <input matInput>
            </mat-form-field>
          </div> 
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="campo-container">
            <!-- TELEFONO --> 
            <mat-form-field appearance="outline">
              <mat-label>Telefono</mat-label>
              <input matInput>
              <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="campo-container">
            <!-- TELEFONO --> 
            <mat-form-field appearance="outline">
              <mat-label>Correo </mat-label>
              <input matInput placeholder="pat@example.com" [formControl]="email" required>
              <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    <!-- FIN BUSCAR RUC-DNI -->

<!-- ----------------------- VENTA-PRODUCTO------------------- -->
<div class="grid-linea">
  <div>
    <hr class="linea1"  width="1px" noshade="noshade">
  </div>
  <div class="icon">
    <mat-icon>assignment_turned_in</mat-icon> 
  </div>
  <div>
    <hr class="linea2"  width="1px" noshade="noshade">
  </div>
</div>

    <mat-grid-list cols="3" rowHeight="80px" style="margin-bottom: 10px;">
      <mat-grid-tile>
        <div class="controles-container">
          <mat-form-field appearance="outline">
            <mat-label>Tipo de Venta</mat-label>
            <mat-select>
              <mat-option value="option">Credito</mat-option>
              <mat-option value="option">Al Contado</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile>  
      <mat-grid-tile>
        <div class="controles-container">
          <mat-form-field appearance="outline">
            <mat-label>Fecha de Vencimiento</mat-label>
            <input formControlName="hireDate" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </mat-grid-tile> 
      <mat-grid-tile>
        <div class="controles-container">
          <mat-form-field appearance="outline"> 
            <mat-label>Moneda</mat-label>
            <mat-select>
              <mat-option value="option">Soles</mat-option>
              <mat-option value="option">Dolares Americanos</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile> 
   </mat-grid-list>
    
   <!-- -------------CATALOGO ALMACEN------------- -->
   <div class="grid-linea">
      <div>
        <hr class="linea1"  width="1px" noshade="noshade">
      </div>
      <div class="icon">
        <mat-icon>menu_book</mat-icon>
      </div>
      <div>
        <hr class="linea2"  width="1px" noshade="noshade">
      </div>
   </div>
   
   <div align="center" >
    <div class="btn-group mr-5">
      <button  type="button" class="btn-catalogo btn btn-success">
        Catálogo Almacén
      </button>
      <div class="btn-group" ngbDropdown role="group">
        <button class="btn-catalogo-op btn btn-success" ngbDropdownToggle></button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button ngbDropdownItem routerLink="/ventas/catalogo-almacen/bienes">   Bienes</button>
          <button ngbDropdownItem routerLink="/ventas/catalogo-almacen/servicios">Servicios</button>
        </div>
      </div>
   </div>
  </div>

    
    <br>
    <!-- 
      <div class="btn-group mr-3">
      <button type="button" class="btn btn-primary">
        Catálogo Almacen
      </button>
      <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
        <button color="accent" class="dropdown-toggle-split" ngbDropdownToggle></button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button ngbDropdownItem  routerLink="/ventas/bienes">Bienes</button>
          <button ngbDropdownItem  routerLink="/ventas/servicios">Servicios</button>
        </div>
      </div>
    </div>

      <div style="margin-top: 5px; margin-left: 15px; margin-right: 15px;" >
            <p><b>Detalle Producto</b></p>
            <table class="table" id="tableId">
              <thead class="thread-light">
                <tr>
                  <th>ID</th>
                  <th>Producto</th>
                  <th>Descripcion</th>
                  <th>Cantidad </th>
                  <th>Valor de Venta</th>
                  <th>IGV</th>
                  <th>Total</th>
                  <th></th>
                </tr>
                
                <tr>
                  <th><input type="number"    class="form-control" id="id"           ></th>
                  <th><input type="text"      class="form-control" id="producto"     ></th>
                  <th><input type="text"      class="form-control" id="descripcion"  ></th>
                  <th><input type="number"    class="form-control" id="cantidad"     ></th>
                  <th><input type="number"    class="form-control" id="val_venta"    ></th>
                  <th><input type="number"    class="form-control" id="IGV"          ></th>
                  <th><input type="number"    class="form-control" id="total"        ></th>
                  <th><button mat-button color="primary"  (click)="addProducto(this)"> <mat-icon>add</mat-icon></button></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let producto of (PRODUCTOS)" (click)="EditProducto(producto,this)">
                  <td>{{producto.id}}</td>
                  <td>{{producto.producto}}</td>
                  <td>{{producto.descripcion}}</td>
                  <td>{{producto.cantidad}}</td>
                  <td>{{producto.val_venta}}</td>
                  <td>{{producto.IGV}}</td>
                  <td>{{producto.total}}</td>
                  <td><button mat-button type="button" class="btn btn-secondary btn-sm" (click)="deleteProducto(producto.id)"> <mat-icon>delete</mat-icon></button></td>
                </tr>
              </tbody>
            </table>
            <hr>
            <div class="totalcomp">
              <div style="margin-left: 15px;">
                <th>Total de Comprobante</th>
              </div>
              <div>
                <td style="width: 500px;"><input  class="form-control" id="total_comp" ></td>
              </div>
            </div> 
            <hr>      
        </div>  
        <div class="add-bottom-padding">
            <mat-radio-group aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            [(ngModel)]="tipoVenta">
              <mat-radio-button class="example-radio-button" *ngFor="let tipo of tipos" [value]="tipo">
                {{tipo}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
          -ESTADO DE LA FACTURA -
          <mat-form-field >
            <mat-label> Estado de la Factura</mat-label>
            <mat-select>
              <mat-option value="1">Option</mat-option>
            </mat-select>
        </mat-form-field>
    -->
        
  </form>
  <div class="acciones">
    <div class="comentario" >
      <!--COMENTARIO-->
      <mat-form-field appearance="outline">
          <mat-label>Comentario   <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-label>
          <textarea matNativeControl  name="comentarios"></textarea>
        </mat-form-field>
    </div>
    <div align="end">
      <button mat-button >Cancelar</button>
      <button mat-flat-button color="primary" >Guardar</button>
    </div>
  </div>
</mat-card>
  