/* DETALLE*/
.mat-card{
  margin: 5px 5% 20px 5%;
}

.campo-container{
  width: 100%;
  padding-left: 15px;
}

.campo-container > * {
  width: 100%;
}

.grid-ventas{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.archivo{
   margin-top: 15px;
}

.acciones {
  display: grid;
  grid-template-columns: 50% 50%;
}
  
.btn-catalogo{
  color: white;
  border-radius: 5px 0px 0px 5px;
  height: 40px;
  width: 500px;
  font-size: 15px;
}

.btn-catalogo-op{
  color: white;
  border-radius: 0px 5px 5px 0px;
  height: 40px;
  font-size: 15px;
}

@media only screen and (max-width:1000px){
  .grid-ventas{
    display: grid;
    grid-template-columns: none;
  }

  .archivo{
    margin-top: 2px;
    margin-bottom: 10px;
  }

  .btn-catalogo{
    color: white;
    border-radius: 5px 0px 0px 5px;
    height: 40px;
    width: 250px;
    font-size: 15px;
  }
}
  
  .bus_grid{
    display: grid;
    grid-template-columns: 70% 30%;
  }
  
    
  
    .totalcomp {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 40px 0px;
    }
    
    .add-bottom-padding{
      margin-right: 15px;
      margin-left: 15px;
    }
    
  /* TABLA BANCARIA*/
    table {
      width: 100%;
    }

    .example-section {
      display: flex;
      align-content: center;
      align-items: center;
      height: 60px;
    }

    .example-margin {
      margin: 0 10px;
    }
    
    .example-radio-group {
      display: flex;
      flex-direction: column;
      margin: 15px 0;
    }

    
.grid-linea {
  display: grid;
  grid-template-columns: 45% 10% 45%;
}

.linea1{
  background-color: #70758348;
  width: 90%;
  margin-left: 10%;
}

.linea2{
  background-color: #70758348;
  width: 90%;
  margin-right: 10%;
}

.icon mat-icon{
  color:#707583;
  padding-top: 5px;
  margin-left: 40%;
  margin-right: 40%;
}

/* FORM 2° */
.dato2-container{
  padding-left: 15px;
 }
 
 .dato2-container > * {
   width: 50%;
 }
 